<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>宝宝金句</title> 
<link href="https://www.94rg.com/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
<script type="text/javascript" src="https://demosc.chinaz.net/Files/DownLoad/webjs1/202002/jiaoben7367/js/jquery.min.js"></script>
<script type="text/javascript" src="https://demosc.chinaz.net/Files/DownLoad/webjs1/202002/jiaoben7367/js/vue.min.js"></script>

<link href="https://demosc.chinaz.net/Files/DownLoad/webjs1/202002/jiaoben7367/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div class="ui-timeLine">
	<a v-for="item in items" class="item">
		<div class="line"></div>
		<div class="dot"></div>
		<div class="box">
			<div class="cbox">
				<div class="date">{{item.date}}</div>
				<div class="title">{{item.yuyan}}</div>
				<div class="types">
					<span v-if="item.personId==1">陈卓帆</span>
					<span v-else="item.personId==2">陈卓希</span>
				</div>
			</div>
		</div>
	</a>
	<div class="activeLine"></div>
</div>

<script>
	(function($) {
		$.fn.uiTimeLine = function() {
			var $timeLine = $(".ui-timeLine");
			var $activeLine = $(".ui-timeLine .activeLine");
			var $dots = $(".ui-timeLine .dot");
			var $cboxs = $(".ui-timeLine .item .cbox");
			return this.each(function() {
				function setActiveLineHeight() {
					let height = $(document).scrollTop() + window.screen.height;
					let j = 0;
					for (let i = 0; i < $dots.length; i++) {
						if ($($dots[i]).offset().top < height) {
							$($($dots[i])).addClass("active");
							$($cboxs[i]).css({
								"left": 0
							});
							j = i;
						} else {
							$($($dots[i])).removeClass("active")
							$($cboxs[i]).css({
								"left": "100vw"
							});
						}
					}
					$activeLine.css({
						"height": $($dots[j]).offset().top - $timeLine.offset().top + 40 + "px"
					})
				}
				$(window).on('scroll', setActiveLineHeight);
				setActiveLineHeight();
			})
		}
	})(jQuery);
</script>
<script>
	$(function(){
		$.getJSON("babyGoldenSentence.json", function (data){
			var vue_data = new Vue({
				el: ".ui-timeLine",
				data: {
					items: data
				},
				mounted: function() {
					$(".ui-timeLine").uiTimeLine();
				},
			});
		});
	});
	
</script>

</body>
</html>